{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

    <h1>Liste des formations</h1>

    {% for formation in formations %}
        <a href="{{ path('show_formation', {'id': formation.id}) }}">{{ formation }}</a>
        <br>
    {% endfor %}

    

{% endblock %}
