{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

    <h1>Liste des formations</h1>

    <div class="list-ajout">
        <ul>
            {% for formation in formations %}
                <li><a href="{{ path('show_formation', {'id': formation.id}) }}">{{ formation }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
