{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

    <div class="banner">
        <h2>Liste des formations</h2>
    </div>
    <div class="wrapper">
        <div>
            <ul class="lists">
                {% for formation in formations %}
                    <li><a href="{{ path('show_formation', {'id': formation.id}) }}"><i class="fa-solid fa-arrow-right"></i> {{ formation }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
