* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}


h1, h2, h3 {
    color: #fff;
    margin-block: 15px;
}

main a {
    color: #4480fa;
}

body {
    background-color: #4d6575;
}

header {
    background-color: rgb(49, 49, 49);
    padding: 20px;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 15px;
}

header nav ul li a {
    color: rgb(207, 207, 207);
    text-transform: uppercase;
    font-size: 12px;
}

header nav ul .login {
    background-color: #0d8ce0;
    padding: 5px 10px;
    border-radius: 5px;
}

header nav ul .logout {
    border:2px solid rgb(248, 52, 52);
    padding: 5px 10px;
    border-radius: 5px;
}

header nav ul .profil {
    border: 2px solid rgb(248, 212, 52);
    padding: 5px 10px;
    border-radius: 5px;
}

header nav ul .admin {
    background-color: rgb(252, 74, 43);
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #fff;
}

main {
    width: 80%;
    margin: 50px auto;
}

main table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(61, 61, 61);
    color: white;
}

main table thead tr th{
    text-align: start;
    padding: 5px;
    font-size: 14px;
    border-bottom: 2px solid rgb(197, 193, 193);
}

main table tbody .status {
    background-color: #0d8ce0;
    font-size: 10px;
}

main table tbody .unsign a{
    color: rgb(248, 52, 52);
}

main table tbody .edit a{
    color: rgb(248, 212, 52);
}

main table tbody tr td {
    padding: 5px;
    font-size: 14px;
}

main table tbody tr {
    border-bottom: 1px solid rgb(90, 89, 89);
}

main table tbody tr td .session {
    color: #35aaf8;
    text-decoration: underline;
}

main table tbody tr:nth-child(odd) {
    background-color: rgb(75, 74, 74);
}

main table tbody tr td input {
    width: 40px;
}

main .info-session {
    background-color: rgb(61, 61, 61);
    padding: 20px;
    color: white;
}

main .table-grid {
    display: flex;
    width: 100%;
    gap: 20px;
}

main .table-grid div {
    width: 100%;
}

main h1 {
    text-align: center;
}


/* Formulaires */

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Style de base pour les liens */
.list-ajout ul li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease-in-out;
    min-width: 200px;
    text-align: center;
}

/* Style au survol */
.list-ajout ul li a:hover {
    background-color: #0056b3;
}
