* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

header {
    padding: 20px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

header .bars {
    position: absolute;
    top: 38%;
    left: 20px;
    cursor: pointer;
}

header .user {
    position: absolute;
    top: 38%;
    right: 20px;
}

header .user a {
    color: #0056b3;
    font-size: 18px;
}

header .user a:hover {
    color: #007bff;
}

header .logo {
    font-style: italic;
    text-decoration: underline;
    color: #0056b3;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    display: block;
    font-weight: 600;
}

header nav .logo-menu:hover {
    color: #007bff;
}

header nav {
    position: absolute;
    top: 0;
    left: -75%;
    background-color: #ffffff;
    width: 75%;
    z-index: 2;
    height: 100vh;
    transition: all 0.5s ease-in-out;
}

header nav.active {
    left: 0;
}

header nav ul {
    display: flex;
    flex-direction: column;
}

header nav ul li a{
    color: #0056b3;
    font-size: 22px;
    transition: all 0.2s ease-in-out;
}

header nav ul li a:hover {
    color: #007bff;
}

header nav .logo-menu {
    font-weight: 600;
    font-style: italic;
    text-decoration: underline;
    font-size: 30px;
    cursor: pointer;
    text-align: start;
    color: #0056b3;
    display: inline-block;
    margin: 20px;
    transition: all 0.2s ease-in-out;
}

header nav ul li {
    border-bottom: 1px solid #033e8c29;
    padding: 18px;
}

header nav ul li a i{
    width: 25px;
    margin-right: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #171d22;
    z-index: 1; 
    transition: all 700ms ease-in-out;
    visibility: hidden;
}

.active-overlay {
    opacity: 0.80;
    visibility: visible;
}

/* Modale de confirmation de suppression */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 9;
}

.confirm-delete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    z-index: 10;
    width: 70%;
}

.confirm-delete a {
    color: red;
}

.confirm-delete p {
    color: #000;
}

.confirm-delete button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}

.action p i {
    cursor: pointer;
}

/* Fin modale de confirmation de suppression */

/* Formulaires */

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Fin formulaires */

/* Tableau */

.wrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

.responsive thead {
    display: none;
}

.responsive td {
    display: block;
    text-align: right;
    border: 1px solid #c1c1c1;
}

.responsive td::before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    color: #000;
}

.responsive td:first-child::before {
    color: #fff; /* Couleur différente pour le premier td::before */
}

.responsive td:last-child {
    border-bottom: 1px solid;
}

main table tbody .status-complet {
    background-color: #f53f3f;
    font-size: 13px;
}

main table tbody .status-incomplet {
    background-color: #0d8ce0;
    font-size: 13px;
}

main table tbody .unsign a{
    color: rgb(248, 52, 52);
}

main table tbody .edit a{
    color: rgb(248, 212, 52);
}

main table tbody tr td {
    padding: 5px;
    font-size: 16px;
}

main table tbody tr td .session {
    color: #1d93e1;
    text-decoration: underline;
}

main table tbody tr td p {
    color: #000;
}

main table tbody tr {
    background-color: rgb(240, 238, 238);
}

main table tbody tr td input {
    width: 40px;
}

/* Fin tableau */

/* Homepage */
main .home-banner {
    background-image: linear-gradient(to right top, #0047b0, #2751bc, #3d5cc7, #4f67d3, #5f72df);background-image: linear-gradient(to right top, #356cbe, #4b76cb, #5f80d8, #728ae4, #8494f1);
    padding: 25px;
    margin-bottom: 20px;
}

.wrapper h3 {
    background-color: #0363ca;
    padding: 10px;
    color: white;
    margin-bottom: 3px;
    cursor: pointer;
}

.wrapper h3:hover {
    background-color: #007bff;
}

.wrapper h3 i {
    transition: all 0.2s ease-in-out;
}

.wrapper .first-drop .rotate,
.wrapper .second-drop .rotate,
.wrapper .third-drop .rotate {
    transform: rotate(90deg);
}

/* Fin homepage */

/* Début liste formations */

.banner h2 {
    text-align: center;
    color: #FFF;
}

.banner {
    background-image: linear-gradient(to right top, #0047b0, #2751bc, #3d5cc7, #4f67d3, #5f72df);background-image: linear-gradient(to right top, #356cbe, #4b76cb, #5f80d8, #728ae4, #8494f1);
    padding: 25px;
    margin-bottom: 20px;
}

.wrapper div .lists li a {
    background-color:#0363ca;
    padding: 15px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #033e8cb0;
}

.wrapper div .lists a:hover {
    background-color: #007bff;
}

.wrapper div .lists li a {
    color: #fff;
}

/* Fin liste formations */

/* Début liste modules */

.module-table {
    background-color:#0363ca;
}

.module-table thead tr th {
    text-align: start;
    padding: 10px;
}

.module-table tbody tr td {
    padding: 10px;
    color: #000;
}

.module-table .action {
    display: flex;
    gap: 5px;
    text-align: center;
}

.module-table tbody tr {
    border-block: 1px solid #37527639;
}

/* Fin liste modules */

/* Début détail session */

.session-detail {
    background-color:#0363ca;
    padding: 20px;
    color: #fff;
}

.session-detail > div:nth-child(4) > p:nth-child(1) > a {
    color: #fff;
    text-decoration: underline;
    font-weight: 600;
}

.session-detail .action {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 30px;
}

.session-detail h2 {
    margin-bottom: 20px;
}

.session-detail .edit,
.session-detail .delete {
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    text-align: center;
    cursor: pointer;
}

.session-detail .delete {
    background-color: #ef2a2a;
}

.session-detail .delete:hover {
    background-color: #fb5151;
}

.session-detail .edit:hover {
    background-color: rgb(210, 210, 210);
}

.session-detail i{
    width: 17px;
}

.session-detail .subinfo p,
.wrapper .subinfo {
    margin-bottom: 5px;
}

.session-detail .subinfo,
.wrapper .subinfo {
    background-color: #b9b9b959;
    padding: 15px;
    border-radius: 10px;
}

.session-detail .no-slot {
    background-color: #ffffff;
    color: #000;
    padding: 10px;
    border-radius: 3px;
    margin-top: 20px;
    border-left: 10px solid #ff0000;
    width: fit-content;
}

.alert-danger {
    background-color: rgb(222, 222, 222);
    padding: 10px;
    width: 300px;
    margin: auto;
    margin-block: 20px;
    border-radius: 3px;
    border-left: 10px solid #ff0000;
}

.alert-success {
    background-color: rgb(222, 222, 222);
    padding: 10px;
    width: 300px;
    margin: auto;
    margin-block: 20px;
    border-radius: 3px;
    border-left: 10px solid #00ff00;
}

.stagiaire {
    background-color: #0363ca;
    padding: 20px;
    color: #fff;
}

.stagiaire-inscrit,
.stagiaire-noninscrit {
    background-color: #b9b9b959;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    margin-top: 20px;
}

.stagiaire-inscrit ul,
.stagiaire-noninscrit ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stagiaire-inscrit ul li,
.stagiaire-noninscrit ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stagiaire-inscrit ul li a,
.stagiaire-noninscrit ul li a {
    color: #fff;
}

.stagiaire-inscrit ul li a:hover,
.stagiaire-noninscrit ul li a:hover {
    color: #d8d8d8;
}

.stagiaire-inscrit ul li .delete,
.stagiaire-noninscrit ul li .add {
    background-color: #fff;
    padding: 6px;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.stagiaire-inscrit ul li .delete:hover,
.stagiaire-noninscrit ul li .add:hover {
    background-color: rgb(210, 210, 210);
}

.stagiaire > h4:nth-child(3) {
    margin-top: 20px;
}

.stagiaire-noninscrit .complet {
    background-color: #fff;
    padding: 6px;
    border-radius: 5px;
}

.programme {
    background-color: #0363ca;
    padding: 20px;
    color: #fff;
    margin-top: 10px;
}

.module-on, .programme .total {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 20Px;
    gap: 20px;
}

.programmer,
.non-programmer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.module-on .light {
    color: #666666;
    font-size: 15px;
}

.module-on p {
    color: #000;
    font-size: 18px;
}

.module-on .first,
.module-on .second{
    display: flex;
    justify-content: space-between;
}

.module-on .line-one,
.module-on .line-two {
    width: 50%;
}

.module-on .line {
    width: 100%;
    height: 1px;
    background-color: #b1b1b1;
}

.total {
    border-top: 1px solid #b1b1b1;
    margin-block: 20px;
    width: fit-content;
}

.total p {
    color: #000;
}

.programme > h4 {
    margin-bottom: 20px;
}

.programme .h4 {
    margin-top: 20px;
}

.line-one input {
    width: 30px;
}

/* Fin détail session */

/* Début détail formation */

.wrapper .action a,
.wrapper .action button {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 16px;
}

.wrapper .action a {
    background-color: orange;
}

.wrapper .action a:hover {
    background-color: rgb(254, 176, 31);
}

.wrapper .action button {
    background-color: #ef2a2a;
}

.wrapper .action button:hover {
    background-color: #fb5151;
}

.wrapper .fiche-stagiaire {
    background-color: #0363ca;
    padding: 20px;
    color: #fff;
}

.wrapper .fiche-stagiaire h2 {
    margin-bottom: 20px;
}

.wrapper .fiche-stagiaire .action {
    margin-top: 20px;
}

.fiche-stagiaire .subinfo p i {
    width: 20px;
}

.fiche-stagiaire .subinfo p{
    margin-bottom: 5px;
}

.combined {
    display: none;
}

.formateur {
    font-size: 20px;
}

.formateur a {
    color: #fff;
    font-weight: 600;
}

.h4 {
    margin-top: 20px;
}

footer {
    background-color: #e9e8e8;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    color: #0056b3;
}

main {
    min-height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper .table {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {

    /* Menu responsive */

    header nav {
        left: -50%;
        width: 50%;
    }

    /* Fin menu responsive */

    /* Détail session */

    .stagiaire {
        display: flex;
        width: 100%;
        gap: 20px;
    }

    .stagiaire > div {
        width: 50%;
    }

    .programme {
        display: flex;
        width: 100%;
        gap: 20px;
    }

    .programme > div {
        width: 50%;
    }

    .programme .h4 {
        margin-bottom: 20px;
    }

    .h4 {
        margin-top: 0px;
    }
   
    .combined {
        display: none;
    }

    .module-table .action {
        justify-content: flex-start;
        gap: 10px;
    }

    /* Fin détail session */

    /* Liste sessions */

    .wrapper .table {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .table .responsive {
        display: table;
    }

    .table .responsive td {
        border: 1px solid rgb(224, 224, 224);
    }

    /* Fin liste sessions */

    /* Liste stagiaires */

    .wrapper .lists {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3px;
    }

    .module-on .first {
        min-height: 60px;
    }

    .module-table {
        width: 60%;
        margin: 0 auto;
    }
    
}

@media screen and (min-width: 1500px ) {
    header {
        padding: 5px;
    }

    header nav {
        display: flex;
        justify-content: center;
        position:unset;
        height: auto;
        width: 100%;
    }

    header .nav {
        display: none;
    }

    header nav ul {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    
    header nav ul li a{
        display: flex;
        font-size: 17px;
    }

    header nav ul li {
        color: #000;
        border: none;
    }

    .wrapper {
        width: 75%;
    }
}

@media screen and (min-width: 1200px ) {
    .programmer, .non-programmer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .total {
        height: fit-content;
    }

    .subinfo p {
        font-size: 24px;
        margin: 15px;
    }

    .subinfo {
        width: fit-content;
    }

    .combined {
        display: initial;
        display: flex;
    }

    .mobile {
        display: none;
    }

    .session-detail {
        display: flex;
    }

    .session-detail > div {
        width: 100%;
    }

    .wrapper .table-grids {
        display: flex;
        gap: 5px;
    }

    .wrapper .table-grids > div {
        width: 100%;
    }

    .wrapper .table {
        grid-template-columns: repeat(1, 1fr);
    }

    .sessions-wrapper .table {
        grid-template-columns: repeat(3, 1fr);
    }

    .wrapper .lists {
        grid-template-columns: repeat(4, 1fr);
    }

    .confirm-delete {
        width: 20%;
    }

    .wrapper {
        width: 60%;
    }
}