{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block body %}

    <h1>Liste des stagiaires</h1>
    
    <div class="list-ajout">
        <ul>
            {% for stagiaire in stagiaires %}
                <li><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
