{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block body %}

    <div class="banner">
        <h2>Liste des stagiaires</h2>
    </div>
    
    <div class="wrapper">
        <div>
            <ul>
                {% for stagiaire in stagiaires %}
                    <li><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}"><i class="fa-solid fa-arrow-right"></i> {{ stagiaire }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
