{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block body %}

    <h1>Liste des modules</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for module in modules %}
                <tr>
                    <td>{{ module }}</td>
                    <td>{{ module.categories }}</td>
                    <td>
                        <a href="{{ path('edit_modules', {'id': module.id}) }}"><i class="fa-regular fa-pen-to-square" style="color: #febe34;"></i></a>
                        <a href="{{ path('delete_modules', {'id': module.id}) }}"><i class="fa-solid fa-xmark fa-lg" style="color: #d70404;"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

{% endblock %}
