{% extends 'base.html.twig' %}

{% block title %}Liste des catégorie{% endblock %}

{% block body %}
    <h1>Liste des catégorie</h1>

    <div class="list-ajout">
        <ul>
            {% for categorie in categories %}
                <li><a href="{{ path('show_categorie', {'id': categorie.id}) }}">{{ categorie }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}