{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}

    <h1>Détail d'une catégorie</h1>

    <h2>{{ categorie }}</h2>

    {# lien vers l'edition de la catégorie #}
    <a class="edit-form" href="{{ path('edit_categorie', {'id': categorie.id}) }}">Editer</a>

    {# lien vers la suppression de la catégorie #}
    <a class="supp-form" href="{{ path('delete_categorie', {'id': categorie.id}) }}">Supprimer</a><br><br>

    {# boucle for pour afficher tout les modules associés à la catégorie #}
    {% for module in categorie.modules %}
        <a href="">{{ module }}</a>
        <br>
    {% endfor %}

    

{% endblock %}