{% extends 'base.html.twig' %}

{% block title %}Panneau administrateur{% endblock %}

{% block body %}
    <h1>Panneau administrateur</h1>

    <a href="">Ajouter un stagiaire</a><br>
    <a href="">Ajouter une session</a><br>
    
{% endblock %}
