{% extends 'base.html.twig' %}

{% block title %}Panneau administrateur{% endblock %}

{% block body %}
    <h1>Panneau administrateur</h1>

    <a href="{{ path('new_stagiaire') }}">Ajouter un stagiaire</a><br>
    <a href="{{ path('new_session') }}">Ajouter une session</a><br>
    
{% endblock %}
