{% extends 'base.html.twig' %}

{% block title %}Liste des formateurs{% endblock %}

{% block body %}

    <div class="banner">
        <h2>Liste des formateurs</h2>
    </div>
    
    <div class="wrapper">
        <div>
            <ul class="lists">
                {% for formateur in formateurs %}
                    <li><a href="{{ path('show_formateur', {'id': formateur.id}) }}"><i class="fa-solid fa-arrow-right"></i> {{ formateur }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}